@charset 'utf-8';

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";
// -----------------------

svg {
	vertical-align: middle;
	height: 1em;
	width: 1em;
	fill: currentColor;

	& + a {
		vertical-align: middle;
	}
}

.section-pager {
	p {
		font-weight: 900;
		&.text-left {
			padding-left: .8em;
		}
		&.text-right {
			padding-right:.8em;
		}
	}
	a {
		&:hover {
			color: $primary-accent;
			text-decoration: underline;
		}
	}
}

.footer {
	.share.cell {
		margin-top: 0;
		a {
			padding: .4em;
		}
		svg {
			fill: $primary-base-font-color;
			transition: transform .1s ease-out;
		}
		li:hover svg {
			transform: scale(1.3);
		}
	}
}

footer.cell {
	a {
		color: $primary-base-font-color;
	}
}

.middot-divider {
	padding-right: .45em;
	padding-left: .45em;
	&::after {
		content: '\00B7';
	}
}

.social {
	svg {
		color: $primary-accent;
		font-size: 1.2em;
		transition: transform .1s ease-out;
	}
	li:hover svg {
		transform: scale(1.3);
	}
	a {
		padding: .3em;
	}
}
