{{ with site.GetPage "intro" }}
    <section id="intro" class="intro">
        {{ .Content }}
        <div class="row align-items-center justify-content-center">
            {{ range .Params.data }}
                <div class="col-md-6 mb-4 col-lg-3">
                    <p class="number counter">{{ .value }}</p>
                    <b><p class="caption text-black" style="text-align: center;">{{ .title }}</p></b>
                </div>
            {{ end }}
        </div>
    </section>
{{ end }}
