{{/*  TODO  */}}
<footer class="cell top separator text-center grid-x align-center">
	{{ $copyright := site.Copyright | default "&copy; {year} {name}." }}
	{{ $year := "" }}
	{{ with site.Params.copyright }}
		{{ if .startYear }}
			{{ $year = printf "%v - %v" .startYear (site.Params.copyright.endYear | default now.Year) }}
		{{ end }}
	{{ else }}
		{{ $year = now.Year }}
	{{ end }}
	<div class="cell small-10">
		<p style="margin-bottom: 0;">
			<span style="display: inline-block;">{{ replaceRE "{year}(.*){name}" (printf "%v$1 %s" $year (site.Params.copyright.owner | default site.Title)) $copyright | markdownify }}</span>
			<span style="display: inline-block;">All rights reserved.</span>
		</p>
	</div>
	<span class="cell small-1 shrink back-to-top hide" aria-hidden="true">
		<a class="float-right" href="#navbar" data-smooth-scroll>
			{{ partial "svg" "fas fa-chevron-up" }}
		</a>
	</span>
</footer>
