{{ $page := . }}
{{ $scr := .Scratch }}

<nav id="navbar" class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-between">
	<a class="navbar-brand" href="#">
		<img src="{{(resources.GetMatch `images/logo.*`).RelPermalink}}" height="80" class="d-inline-block align-top">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			{{ range site.Menus.home }}
				<li class="nav-item"><a href="#{{.URL|default .Name|urlize}}" class="nav-link">{{.Name}}</a></li>
			{{ end }}
		</ul>
	</div>
</nav>
