{{ $svg := "" }}
{{ $title := "" }}
{{ if reflect.IsMap . }}
    {{ $svg = .icon }}
    {{ $title = .title }}
{{ else }}
    {{ $svg = . }}
{{ end }}

{{ $class := replace (path.Base $svg) ".svg" "" }}
{{ $content := "" }}
{{ with resources.Get (printf "images/%s.svg" $svg) }}
    {{ $content = .Content }}
{{ end }}
{{ if strings.HasSuffix $svg ".svg" }}
    {{ if fileExists $svg }}
        {{ $content = readFile $svg }}
    {{ end }}
{{ else if not $content }}
    {{ $family := index (findRE "(fas|fab|far)" $svg) 0 }}
    {{ $family = cond (eq $family "fas") "solid" (cond (eq $family "far") "regular" "brands") }}
    {{ $name := substr $svg (len "fas fa-") }}
    {{ $class = print $name "-icon" }}
    {{ $content = readFile (printf "/node_modules/@fortawesome/fontawesome-free/svgs/%s/%s.svg" $family $name) }}
{{ end }}

{{ $pattern := "<svg (.*)?>(.*)</svg>" }}
{{ $replaceWith := printf `<svg class="%s" ${1}>${2}</svg>` $class }}
{{ with $title }}
    {{ $replaceWith = printf `<svg class="%s" ${1}><title>%s</title>${2}</svg>` $class . }}
{{ end }}

{{ $content | replaceRE "<title>.*</title>" "" | replaceRE $pattern $replaceWith | safeHTML }}
