{{/*  TODO  */}}
{{ define "main" }}
<div class="error cell flex-child-grow grid-y">
  <div class="error-message cell">
    <h3 class="subheader">404 Error</h3>
    <h2>Sorry, we can’t seem to find what you’re looking for.</h2>
    <p>You've landed on a URL that doesn't seem to exist on {{ site.Title}}. Here are some options:</p>
    <ul>
      <li>If you think this is an error on our part, please let us know.</li>
      <li>You could try a search up ↗️ there in the header, that should turn up whatever you were looking for.</li>
      <li>If you'd like to just browse, head over to the <a href="{{ `/posts` | relURL }}">posts</a> page.</li>
    </li>
    </ul>
  </div>

  <hr>

  <div class="latest cell flex-child-grow">
    <p>Perhaps you were looking for one of these?</p>
    {{ $pages := site.RegularPages }}
    {{ $count := len $pages }}
    {{ if gt $count 0 }}
    <h2>Latest</h2>
    <ul>
      {{ range first 10 $pages }}
			<li>
				{{ if ne .Params.externallink nil }}
				<a href="{{ .Params.externallink }}">
					{{ .Title }}
					{{ partial "svg" "fas fa-external-link-alt" }}
				</a>
				{{ else }}
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
			</li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
{{ end }}
