<!doctype html>
<html lang="en">
	<head>
		{{ partial "head/main" . }}
		{{ template "_internal/google_analytics_async.html" . }}
		{{ partial "assets/css" . }}
		<title>{{ site.Title }}</title>
	</head>
	<body data-spy="scroll" data-target="#navbar" data-offset="150">
		{{ partial "navbar" . }}
		<div class="container">
			{{/* Load page sections */}}
			{{ range $i, $section := site.Params.sections }}
				{{ $sectionPath := printf "sections/%s.html" (anchorize $section) }}
				{{ if gt $i 0 }}<hr>{{ end }}
				{{ partial $sectionPath }}
			{{ end }}
		</div>
		{{ partial "footer" . }}
		{{ partial "assets/js" . }}
	</body>
</html>
